@model WebApplication1.Models.BookM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var wer = .;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index","Book", FormMethod.Post,  new { enctype = "multipart/form-data" }))
{


    for (int i = 0; i < Model.BooksViews.Count; i++)
    {
        <p>
            @Model.BooksViews[i].Name
            @Model.BooksViews[i].IsCheck
            @Html.CheckBoxFor(x => Model.BooksViews[i].IsCheck)
            @Html.HiddenFor(x=>Model.BooksViews[i].Name)
        </p>
    }

<input type="file" id="myFile" name="myFileName">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}