@model WebApplication1.Models.VoMainScriptModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table">
        <tr>
            <th>@ViewBag.StatusStart</th>
        </tr>

        @for (int i = 0; i < Model.voMainScriptChecked.Count; i++)
        {
            <tr>
                <td>
                    @Model.voMainScriptChecked[i].VoMainScriptEntity.Attributes[ViewBag.RecordName]
                    @Html.CheckBoxFor(x => Model.voMainScriptChecked[i].IsChecked)
                    @Html.HiddenFor(x => Model.voMainScriptChecked[i].VoMainScriptEntity.Id)
                    @Html.HiddenFor(x => Model.voMainScriptChecked[i].VoMainScriptEntity.LogicalName)
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="file" id="myFile" name="myFileName">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Attach" class="btn btn-default" />
        </div>
    </div>
}

